<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SecurityValuationScraper.Properties.Settings.SecurityValuationConnectionString"
            connectionString="Data Source=pc1\sqlexpress;Initial Catalog=SecurityValuation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>